<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.familyharvest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FamilyHarvest</name>
  <description>家庭每日收获记录 - Cordova 打包示例</description>
  <author email="dev@example.com" href="http://example.com">Dev</author>

  <access origin="*"/>
  <allow-intent href="http://*/*" />

  <platform name="android">
    <!-- 添加麦克风权限 -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
    </edit-config>

    <!-- 允许明文流量，开发/内网可用 -->
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:networkSecurityConfig="@xml/network_security_config" android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>

  <plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
